@import "../../styles/base";
html, body, #app {
  width: 100%;
  height: 100%;
}
.home-wrapper {
  height: 100%;

  .home-content {
    padding-bottom: rem(120);
  }

  .index-list-wrap {
    padding: rem(30, 20, 0);
  }

  .index-tab-ul {
    width: rem(360);
    margin: 0 auto;
    border: rem(2) solid $color-green;
    border-radius: rem(6);

    li {
      font-size: rem(24);
      text-align: center;

      &:first-child {
        border-right: rem(2) solid $color-green;
      }

      &.active {
        background-color: $color-green;

        a {
          color: #fff;
        }
      }
    }

    a {
      display: block;
      color: $color-green;
    }
  }
}
